body {
    margin: 0;
    padding: 0;
    background-color: #09070f;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: none;
}

/* Hide cursor on all interactive elements */
button, a, input, select, textarea, [role="button"], [tabindex] {
    cursor: none !important;
}

@media (min-width: 601px) {
    .custom-cursor {
        position: fixed;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        pointer-events: none;
        mix-blend-mode: difference;
        transform: translate(-50%, -50%);
        z-index: 2147483647; /* Maximum z-index value */
        will-change: transform;
    }
}

@media (max-width: 600px) {
    body {
        cursor: auto !important;
    }
    
    button, a, input, select, textarea, [role="button"], [tabindex] {
        cursor: pointer !important;
    }
    
    .custom-cursor {
        display: none !important;
    }
} 