* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav {
	background: rgb(27, 27, 27);
	color: white;
	padding: 1rem;
	margin-bottom: 0rem;
	font-size: 50px;
}
div {
	padding: 0px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
p,
div {
	margin: 2rem;
}
#btn {
	text-overflow: ellipsis;
	font-size: 100em;
	text-align: center;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 40px;
	left: 40px;
	align-items: center;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 50px;
	padding: 10px 10px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.5s ease;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 900;
}
.container {
	position: relative;
	width: 100%;
	height: 1vh; /* Adjust this as needed */
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	font-weight: bolder;
}
#btn:hover {
	opacity: 1;
	height: 45px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 10px;
}
#inst {
	display: none;
}
#spbtn {
	position: relative;
	top: 0px;
	left: -125px;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#mpbtn {
	position: relative;
	top: 0px;
	left: 75px;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#spbtn:hover {
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 1);
	transform: scale(1.025);
}
#mpbtn:hover {
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 1);
	transform: scale(1.025);
}
#startgame:hover {
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 1);
	transform: scale(1.025);
}
#maindiv {
	font-size: 16px;
}
#startgame {
	position: relative;
	top: 0px;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#endline {
	position: relative;
	color: white;
	font-weight: lighter;
	opacity: 0.7;
}
#blcq {
	padding-left: 19%;
}
#ez {
	height: 60px;
	width: 120px;
	align-items: center;
	position: absolute;
	top: 350px;
	left: 40%;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 20px 30px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#med {
	height: 60px;
	width: 120px;
	align-items: center;
	position: absolute;
	top: 350px;
	left: 60%;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 20px 00px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#hr {
	height: 60px;
	width: 120px;
	align-items: center;
	position: absolute;
	top: 450px;
	left: 40%;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 20px 30px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s linear;
	font-size: 13px;
	overflow: hidden;
}
#ext {
	height: 60px;
	width: 120px;
	align-items: center;
	position: absolute;
	top: 450px;
	left: 60%;
	background: #d3d3d3;
	color: #000000;
	opacity: 0.5;
	border: none;
	border-radius: 8px;
	padding: 20px px;
	cursor: pointer;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
	transition: all 0.2s ease;
	font-size: 13px;
	overflow: hidden;
}
#ez:hover {
	opacity: 1;
	font-weight: bolder;
	font-size: 20px;
}
#med:hover {
	opacity: 1;
	font-weight: bolder;
	font-size: 18.5px;
}
#hr:hover {
	opacity: 1;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
}
#ext:hover {
	opacity: 1;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
}
