body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000;
	margin: 0;
	color: #fff;
	font-size: 2em;
	font-family: Arial, sans-serif;
}

#gameCanvas {
	border: 1px solid #fff;
}

#scoreboard {
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin-bottom: 20px;
}

#scoreboard div {
	font-size: 1.5em;
	color: #fff;
}
